h1{
	color:#5E99C4;
	font-family: 'Overpass', sans-serif;
}

body{
	font-family: 'Overpass', sans-serif;
}


p{
	color:red;
	font-size:25px;
	background-color: #F7BBC3
 
}

a{
	text-decoration: none;
}
a:hover{
	color:red;
}
p:hover{
	color:orange;
}

table, th, td{
	border:1px solid black;
}

.text-red{
	color:red;
}