body{
	margin:0;
	height:100%;
}

.header{
	background-color: lightgray;
	text-align: center;
	padding:30px ;
}

.footer{
	background-color: lightgray;
	text-align: center;
	padding:15px ;
}

.column{
	float:left;
	width: 20%;
	height:400px;
}

.column-main{
	float:left;
	width: 60%;
	height:400px;
}

@media(max-width:600px){
	.column{
		width:100%;
		height:200px;
	}
	.column-main{
		width:100%;
	}
}

.bg1{
	background-color: #F6A3A3;
}

.bg2{
	background-color: white/*#A3D5F6*/;
}

.bg3{
	background-color: #A3F6BD;
}

.card{
	box-shadow: 0px /*x axis*/ 8px /*y axis*/ 16px /*Opacity*/ 0 rgba(0,0,0,0.2);
	width:25%;
	margin:2px 40px;
	background-color: gray;
}

.card:hover{
	background-color: lightgray;
	box-shadow: 13px /*x axis*/ 16px /*y axis*/ 12px /*Opacity*/ 0 rgba(0,0,0,0.2);
	transition:0.3s;
}

.card-caption{
	padding: 2px 15px;
}

img{
	width:100%;
}